<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <!-- <div class="container">
      <h1>Login</h1>          
      <form action="/login" method="POST">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control"/>
  
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control"/>
  
          <hr>
          <p>
            Don't have an account?
            <a href="\register">Register</a>
            <input type="submit" value="Login" class="btn btn-primary" style="float:right;"/>
          </p>
        </form>
        <div class="col"><%- include ('../partials/message') %></div>
    </div> -->
    <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <div class="list-group">
          <% for(let i=0; i<data.length; i++){%>
            <!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%=data[i].MatchedObjectDescriptor.PositionTitle%></h5>
                    <a href="<%= data[i].MatchedObjectDescriptor.ApplyURI%>" class="btn btn-primary">Apply Now</a>
                    <small><%=data[i].MatchedObjectDescriptor.OrganizationName%></small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Donec id elit non mi porta.</small>
            </a> -->
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><%=data[i].MatchedObjectDescriptor.PositionTitle%></h5>
                  <small class="text-muted"><%=data[i].MatchedObjectDescriptor.OrganizationName%></small>
                </div>
                <p class="mb-1"><%=data[i].MatchedObjectDescriptor.UserArea.Details.JobSummary%></p>
                <a href="<%= data[i].MatchedObjectDescriptor.ApplyURI%>" class="btn btn-primary">Apply Now</a>
              </a>
          <%}%>
        </div>
      </div>
</main>